:root {
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --slate: #434455;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}

/*--------------COMPONENTS STYLE-----------*/
* {
  box-sizing: border-box;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*--------------RESET STYLE---------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------BODY--------------------*/
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: var(--white, #fff);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*----------------HEADER STYLE------------*/
.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

/*------------------HEADER----------------*/
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-color {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-items {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-adress {
  margin-left: auto;
}

.header-item-nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.header-item-nav:hover,
.header-item-nav:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.header-item-address {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-item-address:hover,
.header-item-address:focus {
  color: #404bbf;
}

/*-------------------MAIN------------------*/

/*-------------------STUDIO----------------*/
.solutions {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 496px;
  margin: 0 auto;
}

.service-btn {
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
}

.service-btn:hover,
.service-btn:focus {
  background-color: #404bbf;
}

.service-order {
  background-color: #2e2f42;
  padding: 188px 0;
}

.feature {
  padding: 120px 0;
}

.feature-links {
  display: flex;
  gap: 24px;
}

.feature-list {
  width: calc((100% - 72px) / 4);
}

.feature-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  width: 264px;
}

.feature-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.choice {
  padding-bottom: 120px;
}

.choice-item {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.choice-link {
  display: flex;
  gap: 24px;
}

.choice-list {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.container-team {
  padding: 32px 0;
}

.team-main {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-link {
  display: flex;
  gap: 24px;
}

.team-list {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-front {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*----------------PORTFOLIO---------------*/
.service {
  padding-top: 96px;
  padding-bottom: 120px;
}

.service-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.service-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--cornflower, #e7e9fc);
}

.service-button:hover,
.service-button:focus {
  color: #fff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
/*---hmm*/
.service-card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.container-service-menu {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.service-item {
  width: calc((100% - 48px) / 3);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.service-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.service-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----------------FOOTER-------------------*/

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex-wrap: wrap;
  display: flex;
  max-width: 264px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
